@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;0,600;0,700;0,800;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yesteryear:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100vh;
    @apply leading-[normal] m-0;
    /*box-sizing: border-box;*/
    scroll-behavior: smooth;
    /*hide-scrollbar;*/
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}
:root::-webkit-scrollbar {
    display: none;
}
body {
    padding: 0;
    margin: 0;
}
.prev {
    cursor: pointer;
}
.App {
    background-image: linear-gradient(to right bottom, #fecaba, #ffd2d0, #ffdce4, #fde7f2, #fbf2fb, #fcf3fc, #fef5fc, #fff6fd, #ffeef3, #ffe8e2, #ffe4ce, #f2e5be);
    background-size: cover;
    overflow: hidden;
}
*,
::before,
::after {
    border-width: 0;
}

.swiper-container {
    list-style: none;

}

.pagination {
    bottom: 0;
    padding-bottom: 4px;
}

.swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slide {
    /*text-align: center;*/
    /*height: 320px;*/
    /*line-height: 320px;
    */
    /*background: #364d79;*/
    overflow: hidden;
}
